h1 {
  color: black;
  text-align: center;
  font-size: 48px;
  padding: 10px;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: black;
}
h3 {
  font-size: 25px;
  text-align: center;
  color: black;
  padding: 10px;
}
h4 {
  font-size: 20x;
  text-align: center;
  color: black;
}
.search-form {
  text-align: center;
  border: 10px purple;
  padding: 10px;
  text-align: center;
}
.currentweather {
  padding-bottom: 10px;
  color: black;
  border: 2px solid;
  margin: 10px;
  text-align: center;
  position: absolute;
}
.todaysweather {
  text-align: center;
  color: rgb(94, 37, 146);
}
.sat {
  border: 2px solid black;
  position: relative;
  top: 20px;
  left: 10px;
  width: 100px;
  margin: 20px;
}
.sun {
  border: 3px solid black;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  margin: 20px;
}

.mon {
  border: 2px solid black;
  position: relative;
  top: 20px;
  left: 20px;
  width: 100px;
  margin: 20px;
}

.text {
  text-align: center;
  color: rgb(94, 37, 146);
}
.p {
  text-align: center;
  color: rgb(94, 37, 146);
  font-size: 30px;
  font-weight: bold;
}
.card-title {
  color: rgb(94, 37, 146);
  text-align: center;
}
.currentweather,
h2 {
  text-align: center;
}

.umbrella-icon {
  font-size: 65px;
  color: rgb(94, 37, 146);
}

.currenttemp {
  font-size: 30px;
  color: orange;
  text-align: center;
}

body {
  width: 1000px;
  margin: 10px;
  background-color: #9cd3d3;
}
#celsius-link #fahrenheit-link h1 {
  margin: 50px;
  font-size: 5px;
  text-decoration: none;
}
.container.card {
  border: 10px black;
}

#icon {
  font-size: 35px;
  margin-left: 450px;
}
#description {
  font-size: 35px;
}
href.units #celsius-link #fahrenheit {
  font-size: 20px;
}
#humidity span {
  margin-left: 500px;
}

.container #search {
  margin-top: 2000px;
}
